<div class='div'>
    <p>If you can read this you're on the right page</p>
    <table id='score_table'>
        <thead>
            <tr>
                <th>SCORE</th>
                <th>USER NAME</th>
                <th>DATE</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of scoreList">
                <td>{{u.score}}</td>
                <td>{{u.userID}}</td>
                <td>{{u.date}}</td>
            </tr>
        </tbody>
    </table>

</div>
