<div id="main-div" class='container'>
    <table id="score-table" class="col-xl-4 table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>SCORE</th>
                <!-- <th>USERNAME</th> -->
                <th>DATE</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let score of scoreList">
                <td>{{score.score}}</td>
                <!-- <td>{{score.scoreUser.username}}</td> -->
                <!-- <td>username</td> -->
                <td>{{score.generation | date}}</td>
            </tr>
        </tbody>
    </table>

</div>
