
<br>

<div class="container" id="reward-div">

    <div class="col-xl-4">

        <h1 style="color:yellow">Congratulations! You have earned a new character!</h1>

        <div id="reward-character">
            <h3>Name: {{rewardPerson.name}}</h3>
            <h5>Hair Color: {{rewardPerson.hair_color}}</h5>
            <h5>Eye Color: {{rewardPerson.eye_color}}</h5>
            <h5>Birth Year: {{rewardPerson.birth_year}}</h5>
        </div>


        <br>

        <div class="col-xl-4" id="btn-div">
            <button class="btn" (click)="sendToLeaderboard()">Go to Leaderboard</button>
        </div>

        <div>
            <p id="error">{{info}}</p>
        </div>

    </div>




</div>