<div id="trivia-div" class="d-flex justify-content-center">

    <div id="question">
        <p>{{question.question}}</p>
    </div>

    <div>
        <label for="entered-answer" id="entered-answer-label">Enter Your Answer:</label>
        <input type="text" id="entered-answer">
        <button type="button" (click)="checkAnswer()" id="submit-btn">Submit Answer</button>
        <button type="button" id="new-question" (click)="getQuestion()">Get New Question</button>
    </div>

</div>

<div>
    <p id="wrong-answer"></p>
</div>