<body>
    <div class='container'>
        <br>
        <br>
        <h1>Welcome!</h1>
        <br>
        <p>
            This is a game to test both your skill and love of Star Wars. Select the Trivia tab to begin the game. You
            can view the Leaderboard to see your standing with others. You will also be rewarded for doing well in the
            game. You will even have your own Showcase of Star Wars characters! Ready? I know that you can do it. The
            force is STRONG with this one. Have fun!
        </p>
    </div>
</body>