<div class='container' id="login-unit">
    <div class="col-xl-4 login login-box">
        <br>
        <h4 class="col-lg-12 text-center" id="header">Login to Play</h4>
        <label>Username:</label>
        <input class="col-sm-12 form-control" type="text" [(ngModel)]="username" placeholder="Enter Username">
        <br>
        <label>Password:</label>
        <input class="col-sm-12 form-control" type="password" [(ngModel)]="password" placeholder="Enter Password">
        <br>
        <button class='btn btn-primary user-btn' id='login-btn' routerLinkActive='active' routerLink="{{link}}"
            (click)="loginUser()">Login</button>
        <br>
        <br>
        <h6 class="message">{{message}}</h6>
        <br>
    </div>
    <div class='col-xl-4 login'>
        <br>
        <!-- What does this mean  [routerLink]="['register']"-->
        <div class="register-btn">
            <button class='btn btn-primary user-btn' routerLinkActive='active' routerLink='register'>New User?</button>
        </div>
    </div>
</div>